#video_box{
    float:center;
}

#peerDiv {
    transform: rotateY(180deg); 
    width: 100%;
    height:100%;
}

#peerVideo{
    width: 100%;
}

#uservid {
    position:absolute;
    transform: rotateY(180deg); 
    float:center;
    top:85%;
    right:5%;
    width:10%;
    min-height:30px;
    height:10%;
    background-color:#fff;
    z-index:300000;
}

.select {
    height: 30px;
}

.h-90 {
    height: 90% !important;
}

.h-10 {
    height: 10% !important;
}

#peerVideo:hover {
    opacity: 0.6;
    cursor: pointer;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}